Src/KKMSeedProject/KKMSeedService/Connected Services/LibraryService/RivetLibraryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RivetLibraryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WS2007HttpBinding_IRivetLibraryService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://devwss.merrillbridge.merrillcorp.com/_vti_bin/RivetLibraryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://devwss.merrillbridge.merrillcorp.com/_vti_bin/RivetLibraryService.svc?xsd=xsd1" namespace="http://microsoft.com/wsdl/types/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRivetLibraryService_DoesFolderExist_InputMessage">
    <wsdl:part name="parameters" element="tns:DoesFolderExist" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_DoesFolderExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoesFolderExistResponse" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_CreateFolder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateFolder" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_CreateFolder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateFolderResponse" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_CreateFolderAsWorkspace_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateFolderAsWorkspace" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_CreateFolderAsWorkspace_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateFolderAsWorkspaceResponse" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_ConvertFolderToWorkspace_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertFolderToWorkspace" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_ConvertFolderToWorkspace_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertFolderToWorkspaceResponse" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_DeleteFolder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFolder" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_DeleteFolder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFolderResponse" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_DeleteWorkspaceFolder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWorkspaceFolder" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_DeleteWorkspaceFolder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWorkspaceFolderResponse" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_GetLibrary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLibrary" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_GetLibrary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLibraryResponse" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_DoesObjectExist_InputMessage">
    <wsdl:part name="parameters" element="tns:DoesObjectExist" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_DoesObjectExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoesObjectExistResponse" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_GetObjectFromLibrary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectFromLibrary" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_GetObjectFromLibrary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectFromLibraryResponse" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_SaveObjectToLibrary_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveObjectToLibrary" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_SaveObjectToLibrary_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveObjectToLibraryResponse" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_CheckoutObject_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckoutObject" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_CheckoutObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckoutObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_UndoCheckout_InputMessage">
    <wsdl:part name="parameters" element="tns:UndoCheckout" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_UndoCheckout_OutputMessage">
    <wsdl:part name="parameters" element="tns:UndoCheckoutResponse" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_IsObjectCheckedOut_InputMessage">
    <wsdl:part name="parameters" element="tns:IsObjectCheckedOut" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_IsObjectCheckedOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsObjectCheckedOutResponse" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_UpdateObjectState_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateObjectState" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_UpdateObjectState_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateObjectStateResponse" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_GetObjectVersionHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectVersionHistory" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_GetObjectVersionHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectVersionHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_GetObjectVersionFromLibrary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectVersionFromLibrary" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_GetObjectVersionFromLibrary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectVersionFromLibraryResponse" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_GetCalendarObjectsFromLibrary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCalendarObjectsFromLibrary" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_GetCalendarObjectsFromLibrary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCalendarObjectsFromLibraryResponse" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_GetTaxonomyHeader_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTaxonomyHeader" />
  </wsdl:message>
  <wsdl:message name="IRivetLibraryService_GetTaxonomyHeader_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaxonomyHeaderResponse" />
  </wsdl:message>
  <wsdl:portType name="IRivetLibraryService">
    <wsdl:operation name="DoesFolderExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IRivetLibraryService/DoesFolderExist" message="tns:IRivetLibraryService_DoesFolderExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRivetLibraryService/DoesFolderExistResponse" message="tns:IRivetLibraryService_DoesFolderExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateFolder">
      <wsdl:input wsaw:Action="http://tempuri.org/IRivetLibraryService/CreateFolder" message="tns:IRivetLibraryService_CreateFolder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRivetLibraryService/CreateFolderResponse" message="tns:IRivetLibraryService_CreateFolder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateFolderAsWorkspace">
      <wsdl:input wsaw:Action="http://tempuri.org/IRivetLibraryService/CreateFolderAsWorkspace" message="tns:IRivetLibraryService_CreateFolderAsWorkspace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRivetLibraryService/CreateFolderAsWorkspaceResponse" message="tns:IRivetLibraryService_CreateFolderAsWorkspace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertFolderToWorkspace">
      <wsdl:input wsaw:Action="http://tempuri.org/IRivetLibraryService/ConvertFolderToWorkspace" message="tns:IRivetLibraryService_ConvertFolderToWorkspace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRivetLibraryService/ConvertFolderToWorkspaceResponse" message="tns:IRivetLibraryService_ConvertFolderToWorkspace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFolder">
      <wsdl:input wsaw:Action="http://tempuri.org/IRivetLibraryService/DeleteFolder" message="tns:IRivetLibraryService_DeleteFolder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRivetLibraryService/DeleteFolderResponse" message="tns:IRivetLibraryService_DeleteFolder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWorkspaceFolder">
      <wsdl:input wsaw:Action="http://tempuri.org/IRivetLibraryService/DeleteWorkspaceFolder" message="tns:IRivetLibraryService_DeleteWorkspaceFolder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRivetLibraryService/DeleteWorkspaceFolderResponse" message="tns:IRivetLibraryService_DeleteWorkspaceFolder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLibrary">
      <wsdl:input wsaw:Action="http://tempuri.org/IRivetLibraryService/GetLibrary" message="tns:IRivetLibraryService_GetLibrary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRivetLibraryService/GetLibraryResponse" message="tns:IRivetLibraryService_GetLibrary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoesObjectExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IRivetLibraryService/DoesObjectExist" message="tns:IRivetLibraryService_DoesObjectExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRivetLibraryService/DoesObjectExistResponse" message="tns:IRivetLibraryService_DoesObjectExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObjectFromLibrary">
      <wsdl:input wsaw:Action="http://tempuri.org/IRivetLibraryService/GetObjectFromLibrary" message="tns:IRivetLibraryService_GetObjectFromLibrary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRivetLibraryService/GetObjectFromLibraryResponse" message="tns:IRivetLibraryService_GetObjectFromLibrary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveObjectToLibrary">
      <wsdl:input wsaw:Action="http://tempuri.org/IRivetLibraryService/SaveObjectToLibrary" message="tns:IRivetLibraryService_SaveObjectToLibrary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRivetLibraryService/SaveObjectToLibraryResponse" message="tns:IRivetLibraryService_SaveObjectToLibrary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckoutObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IRivetLibraryService/CheckoutObject" message="tns:IRivetLibraryService_CheckoutObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRivetLibraryService/CheckoutObjectResponse" message="tns:IRivetLibraryService_CheckoutObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UndoCheckout">
      <wsdl:input wsaw:Action="http://tempuri.org/IRivetLibraryService/UndoCheckout" message="tns:IRivetLibraryService_UndoCheckout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRivetLibraryService/UndoCheckoutResponse" message="tns:IRivetLibraryService_UndoCheckout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsObjectCheckedOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IRivetLibraryService/IsObjectCheckedOut" message="tns:IRivetLibraryService_IsObjectCheckedOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRivetLibraryService/IsObjectCheckedOutResponse" message="tns:IRivetLibraryService_IsObjectCheckedOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateObjectState">
      <wsdl:input wsaw:Action="http://tempuri.org/IRivetLibraryService/UpdateObjectState" message="tns:IRivetLibraryService_UpdateObjectState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRivetLibraryService/UpdateObjectStateResponse" message="tns:IRivetLibraryService_UpdateObjectState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObjectVersionHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IRivetLibraryService/GetObjectVersionHistory" message="tns:IRivetLibraryService_GetObjectVersionHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRivetLibraryService/GetObjectVersionHistoryResponse" message="tns:IRivetLibraryService_GetObjectVersionHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObjectVersionFromLibrary">
      <wsdl:input wsaw:Action="http://tempuri.org/IRivetLibraryService/GetObjectVersionFromLibrary" message="tns:IRivetLibraryService_GetObjectVersionFromLibrary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRivetLibraryService/GetObjectVersionFromLibraryResponse" message="tns:IRivetLibraryService_GetObjectVersionFromLibrary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCalendarObjectsFromLibrary">
      <wsdl:input wsaw:Action="http://tempuri.org/IRivetLibraryService/GetCalendarObjectsFromLibrary" message="tns:IRivetLibraryService_GetCalendarObjectsFromLibrary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRivetLibraryService/GetCalendarObjectsFromLibraryResponse" message="tns:IRivetLibraryService_GetCalendarObjectsFromLibrary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTaxonomyHeader">
      <wsdl:input wsaw:Action="http://tempuri.org/IRivetLibraryService/GetTaxonomyHeader" message="tns:IRivetLibraryService_GetTaxonomyHeader_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRivetLibraryService/GetTaxonomyHeaderResponse" message="tns:IRivetLibraryService_GetTaxonomyHeader_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS2007HttpBinding_IRivetLibraryService" type="tns:IRivetLibraryService">
    <wsp:PolicyReference URI="#WS2007HttpBinding_IRivetLibraryService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoesFolderExist">
      <soap12:operation soapAction="http://tempuri.org/IRivetLibraryService/DoesFolderExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFolder">
      <soap12:operation soapAction="http://tempuri.org/IRivetLibraryService/CreateFolder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFolderAsWorkspace">
      <soap12:operation soapAction="http://tempuri.org/IRivetLibraryService/CreateFolderAsWorkspace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertFolderToWorkspace">
      <soap12:operation soapAction="http://tempuri.org/IRivetLibraryService/ConvertFolderToWorkspace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFolder">
      <soap12:operation soapAction="http://tempuri.org/IRivetLibraryService/DeleteFolder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWorkspaceFolder">
      <soap12:operation soapAction="http://tempuri.org/IRivetLibraryService/DeleteWorkspaceFolder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLibrary">
      <soap12:operation soapAction="http://tempuri.org/IRivetLibraryService/GetLibrary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoesObjectExist">
      <soap12:operation soapAction="http://tempuri.org/IRivetLibraryService/DoesObjectExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjectFromLibrary">
      <soap12:operation soapAction="http://tempuri.org/IRivetLibraryService/GetObjectFromLibrary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveObjectToLibrary">
      <soap12:operation soapAction="http://tempuri.org/IRivetLibraryService/SaveObjectToLibrary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckoutObject">
      <soap12:operation soapAction="http://tempuri.org/IRivetLibraryService/CheckoutObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UndoCheckout">
      <soap12:operation soapAction="http://tempuri.org/IRivetLibraryService/UndoCheckout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsObjectCheckedOut">
      <soap12:operation soapAction="http://tempuri.org/IRivetLibraryService/IsObjectCheckedOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateObjectState">
      <soap12:operation soapAction="http://tempuri.org/IRivetLibraryService/UpdateObjectState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjectVersionHistory">
      <soap12:operation soapAction="http://tempuri.org/IRivetLibraryService/GetObjectVersionHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjectVersionFromLibrary">
      <soap12:operation soapAction="http://tempuri.org/IRivetLibraryService/GetObjectVersionFromLibrary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCalendarObjectsFromLibrary">
      <soap12:operation soapAction="http://tempuri.org/IRivetLibraryService/GetCalendarObjectsFromLibrary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonomyHeader">
      <soap12:operation soapAction="http://tempuri.org/IRivetLibraryService/GetTaxonomyHeader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RivetLibraryService">
    <wsdl:port name="WS2007HttpBinding_IRivetLibraryService" binding="tns:WS2007HttpBinding_IRivetLibraryService">
      <soap12:address location="https://devwss.merrillbridge.merrillcorp.com/_vti_bin/RivetLibraryService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://devwss.merrillbridge.merrillcorp.com/_vti_bin/RivetLibraryService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>