Src/KKMSeedProject/KKMSeedService/Connected Services/LibrarySiteService/RivetSiteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RivetSiteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WS2007HttpBinding_IRivetSiteService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://devwss.merrillbridge.merrillcorp.com/_vti_bin/RivetSiteService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRivetSiteService_CreateNewSite_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewSite" />
  </wsdl:message>
  <wsdl:message name="IRivetSiteService_CreateNewSite_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewSiteResponse" />
  </wsdl:message>
  <wsdl:message name="IRivetSiteService_CreateNewSiteCollection_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewSiteCollection" />
  </wsdl:message>
  <wsdl:message name="IRivetSiteService_CreateNewSiteCollection_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewSiteCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="IRivetSiteService_AddSecondarySiteCollectionAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSecondarySiteCollectionAdmin" />
  </wsdl:message>
  <wsdl:message name="IRivetSiteService_AddSecondarySiteCollectionAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSecondarySiteCollectionAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IRivetSiteService_GetAllSites_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSites" />
  </wsdl:message>
  <wsdl:message name="IRivetSiteService_GetAllSites_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSitesResponse" />
  </wsdl:message>
  <wsdl:message name="IRivetSiteService_GetSite_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSite" />
  </wsdl:message>
  <wsdl:message name="IRivetSiteService_GetSite_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteResponse" />
  </wsdl:message>
  <wsdl:portType name="IRivetSiteService">
    <wsdl:operation name="CreateNewSite">
      <wsdl:input wsaw:Action="http://tempuri.org/IRivetSiteService/CreateNewSite" message="tns:IRivetSiteService_CreateNewSite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRivetSiteService/CreateNewSiteResponse" message="tns:IRivetSiteService_CreateNewSite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewSiteCollection">
      <wsdl:input wsaw:Action="http://tempuri.org/IRivetSiteService/CreateNewSiteCollection" message="tns:IRivetSiteService_CreateNewSiteCollection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRivetSiteService/CreateNewSiteCollectionResponse" message="tns:IRivetSiteService_CreateNewSiteCollection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSecondarySiteCollectionAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IRivetSiteService/AddSecondarySiteCollectionAdmin" message="tns:IRivetSiteService_AddSecondarySiteCollectionAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRivetSiteService/AddSecondarySiteCollectionAdminResponse" message="tns:IRivetSiteService_AddSecondarySiteCollectionAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSites">
      <wsdl:input wsaw:Action="http://tempuri.org/IRivetSiteService/GetAllSites" message="tns:IRivetSiteService_GetAllSites_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRivetSiteService/GetAllSitesResponse" message="tns:IRivetSiteService_GetAllSites_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSite">
      <wsdl:input wsaw:Action="http://tempuri.org/IRivetSiteService/GetSite" message="tns:IRivetSiteService_GetSite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRivetSiteService/GetSiteResponse" message="tns:IRivetSiteService_GetSite_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS2007HttpBinding_IRivetSiteService" type="tns:IRivetSiteService">
    <wsp:PolicyReference URI="#WS2007HttpBinding_IRivetSiteService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewSite">
      <soap12:operation soapAction="http://tempuri.org/IRivetSiteService/CreateNewSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewSiteCollection">
      <soap12:operation soapAction="http://tempuri.org/IRivetSiteService/CreateNewSiteCollection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSecondarySiteCollectionAdmin">
      <soap12:operation soapAction="http://tempuri.org/IRivetSiteService/AddSecondarySiteCollectionAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSites">
      <soap12:operation soapAction="http://tempuri.org/IRivetSiteService/GetAllSites" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSite">
      <soap12:operation soapAction="http://tempuri.org/IRivetSiteService/GetSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RivetSiteService">
    <wsdl:port name="WS2007HttpBinding_IRivetSiteService" binding="tns:WS2007HttpBinding_IRivetSiteService">
      <soap12:address location="https://devwss.merrillbridge.merrillcorp.com/_vti_bin/RivetSiteService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://devwss.merrillbridge.merrillcorp.com/_vti_bin/RivetSiteService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>