Src/KKMSeedProject/KKMSeedService/Connected Services/LibrarySiteService/RivetSiteService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreateNewSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:CreateSiteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CreateSiteRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SharepointRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="TemplateName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NewSiteNameUrl" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LocaleId" type="xs:unsignedInt" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SharepointRequestBase" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CallerUsername" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CallerPassword" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateNewSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CreateNewSiteResult" type="tns:ResponseBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ResponseBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Header" type="tns:ResponseHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseHeader">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Status" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Messages" type="tns:ArrayOfMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Type" type="tns:MessageType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Tag" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MessageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Info" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="Timing" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CreateNewSiteCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:CreateSiteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewSiteCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CreateNewSiteCollectionResult" type="tns:ResponseBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSecondarySiteCollectionAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:SiteCollectionAdminRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SiteCollectionAdminRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SharepointRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="SiteCollectionUrl" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="AdminUserLogin" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="AdminUsername" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="AdminEmail" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddSecondarySiteCollectionAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="AddSecondarySiteCollectionAdminResult" type="tns:ResponseBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSites">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:SharepointBlankRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SharepointBlankRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SharepointRequestBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAllSitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetAllSitesResult" type="tns:SharepointSitesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SharepointSitesResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="SiteNames" type="tns:ArrayOfString" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:SharepointSiteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SharepointSiteRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SharepointRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="SiteName" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetSiteResult" type="tns:SharepointSiteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SharepointSiteResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="SiteName" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>