Src/KKMSeedProject/KKMSeedService/Connected Services/LibraryMembershipService/RivetMembershipService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RivetMembershipService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WS2007HttpBinding_IRivetMembershipService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://devwss.merrillbridge.merrillcorp.com/_vti_bin/RivetMembershipService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRivetMembershipService_AddUserToRole_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserToRole" />
  </wsdl:message>
  <wsdl:message name="IRivetMembershipService_AddUserToRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserToRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IRivetMembershipService_RemoveUserFromSite_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserFromSite" />
  </wsdl:message>
  <wsdl:message name="IRivetMembershipService_RemoveUserFromSite_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserFromSiteResponse" />
  </wsdl:message>
  <wsdl:portType name="IRivetMembershipService">
    <wsdl:operation name="AddUserToRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IRivetMembershipService/AddUserToRole" message="tns:IRivetMembershipService_AddUserToRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRivetMembershipService/AddUserToRoleResponse" message="tns:IRivetMembershipService_AddUserToRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromSite">
      <wsdl:input wsaw:Action="http://tempuri.org/IRivetMembershipService/RemoveUserFromSite" message="tns:IRivetMembershipService_RemoveUserFromSite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRivetMembershipService/RemoveUserFromSiteResponse" message="tns:IRivetMembershipService_RemoveUserFromSite_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS2007HttpBinding_IRivetMembershipService" type="tns:IRivetMembershipService">
    <wsp:PolicyReference URI="#WS2007HttpBinding_IRivetMembershipService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUserToRole">
      <soap12:operation soapAction="http://tempuri.org/IRivetMembershipService/AddUserToRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromSite">
      <soap12:operation soapAction="http://tempuri.org/IRivetMembershipService/RemoveUserFromSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RivetMembershipService">
    <wsdl:port name="WS2007HttpBinding_IRivetMembershipService" binding="tns:WS2007HttpBinding_IRivetMembershipService">
      <soap12:address location="https://devwss.merrillbridge.merrillcorp.com/_vti_bin/RivetMembershipService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://devwss.merrillbridge.merrillcorp.com/_vti_bin/RivetMembershipService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>