Src/KKMSeedProject/KKMSeedService/Connected Services/LibraryMembershipService/RivetMembershipService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddUserToRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:AddUserToRoleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AddUserToRoleRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SharepointRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="UserName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="RoleName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="UserEmail" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="UserNotes" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="AddUserToAdminGroup" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SharepointRequestBase" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CallerUsername" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CallerPassword" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddUserToRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="AddUserToRoleResult" type="tns:ResponseBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ResponseBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Header" type="tns:ResponseHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseHeader">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Status" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Messages" type="tns:ArrayOfMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Type" type="tns:MessageType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Tag" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MessageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Info" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="Timing" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RemoveUserFromSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="request" type="tns:RemoveUserFromSiteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RemoveUserFromSiteRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SharepointRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="UserName" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RemoveUserFromSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="RemoveUserFromSiteResult" type="tns:ResponseBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>